.form {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.form-label {
  font-size: larger;
  margin-right: 20px;
}

.strength-meter {
  margin: 10px;
  margin: auto;
  width: 200px;
  height: 20px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
