<div class="form">
  <label class="form-label">Password</label>
  <input
    type="password"
    [(ngModel)]="password"
    (input)="checkPassword()"
    placeholder="Enter your password"
    required
  />
</div>
<div class="box">
  <div
    class="box-strength"
    [ngClass]="{
      red: enteringPassword === 'red',
      yellow: enteringPassword === 'yellow',
      green: enteringPassword === 'green'
    }"
  ></div>
  <div
    class="box-strength"
    [ngClass]="{
      yellow: enteringPassword === 'yellow',
      green: enteringPassword === 'green'
    }"
  ></div>
  <div
    class="box-strength"
    [ngClass]="{ green: enteringPassword === 'green' }"
  ></div>
</div>
